<?xml version="1.0" encoding="UTF-8" standalone="no"?><config>
    <bg-r>121</bg-r>
    <bg-g>255</bg-g>
    <bg-b>146</bg-b>
    <policy>ARIAL</policy>
    <clock-format>numeric</clock-format>
    <date-format>24</date-format>
    <alarme-h>8</alarme-h>
    <alarme-m>0</alarme-m>
    <alarme-active>false</alarme-active>
</config>